[Unit]
Description=lcdgps
Requires=lcdd.service gpsd.service postgresql.service
After=lcdd.service gpsd.service postgresql.service

[Service]
ExecStart=/usr/bin/tclsh /home/peter/git/lcdgps/odroidc4/lcdgps.tcl
WorkingDirectory=/home/peter/git/lcdgps/odroidc4

[Install]
WantedBy=multi-user.target

