[Unit]
Description=evsieve client
#After=syslog.target network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/evsieve \
    --input /dev/input/by-path/platform-rotary-event \
    --map rel:y:-1 key:down:1 key:down:0 \
    --map rel:y:1 key:up:1 key:up:0 \
    --input /dev/input/by-path/platform-buttons-event \
#    --input /dev/input/by-id/usb-Logitech_USB_Receiver-if01-event-kbd \
    --output create-link=/dev/input/by-path/virtual

[Install]
WantedBy=multi-user.target

